container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 1px solid red; */
    border-radius: 20px;
    margin: 5px auto;
    height: 700px;
    width: 300px;
    background-color: #222;
}